$enable-gradients: true;
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities"; // add css utilities

html, body, app-root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
body {
  overflow: hidden;
  margin:0;
}
